// Common colors
$section-title-color: #2f3f54;
$main-box-shadow: 0px 8px 45px 6px rgba(181, 181, 181, .5);

// Header 
$top-header-bg-color: #2f3f54;
$top-header-text-color: #7b828d;
$header-menu-text-color: #2f3f54;

// Services hero section
$services-hero-content-text-color: #fff;
$cta-button-text-color: #fff;
$cta-button-text-color-onhover: #2575e7;

// Find domain section
$find-domain-bg-color: #fff;
$find-domain-button-bg-color:#2575e7;
$find-domain-button-text-color: #fff;
$find-domain-input-text-color: #a5afbe;
$find-domain-info-text-color: #4a6385;

// Services main section
$sirvices-offer-box-bg-color: #267ae9;
$sirvices-offer-box-text-color: #fff;
$promo-descr-text-color: #4a6385;

// Benefits section
$benefits-box-bg-color: #fff;
$benefits-box-title-color: #2f3f54;

// Get started section
$get-started-bg-color: #fafafa;
$get-started-offers-text-color: #2f3f54;

// Pricing section
$pricing-content-text-color: #4a6385;
$pricing-price-text-color: #fff;
$pricing-title-color: #267ae9;
$pricing-button-bg-color: #267ae9;

// Testimonials section
$testimonails-bg-color: #fafafa;
$slider-photo-bg-color:#267ae9;

// Slider
$slider-text-color: #4a6385;
$slider-caption-color: #2f3f54;
$slider-slide-item-bg-color: #fff;
$slider-bullet-bg-color: #267ae9;
$slider-bullet-active-bg-color: #fff;

// Companies section
$companies-bg-color: #fff;

// Footer
$footer-text-color: #718db2;
$footer-title-color: #d0e4ff;
$footer-bottob-bg-color: rgba(93, 122, 161, .5);

// Mailing component
$mailing-text-color: #718db2;
$mailing-button-bg-color: #2575e7;
$mailing-input-text-color:#718db2;

// Form
$form-border: 1px solid #3b4a5d;
$form-text-color: #718db2;
$form-button-bg-color: #2575e7;
$form-button-text-color: #fff;

// Domain prices colors
$domain-com-color: #2575e7;
$domain-asia-color: #28aa15;
$domain-online-color: #ea3700;
$domain-me-color: #0076c8;
$domain-cn-color: #00e2aa;
