.services-hero {
  background-image: url('../img/bg-images/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16.4rem 0 23.5rem 0;

  @include for-size(tablet-landscape-up) {
    padding: 13rem 0;
  }

  @include for-size(phone-only) {
    padding: 7rem 0 16rem;
  }

  &__content {
    min-height: 43rem;
    background-image: url(../img/bg-images/hardware.jpg);
    background-repeat: no-repeat;
    background-position: right 28.4% bottom 25%;
    color: $services-hero-content-text-color;
    font-family: 'Lato', sans-serif;

    @include transition(all .3s ease);

    @include for-size(tablet-landscape-up) {
      background-image: none;
    }

    &:hover {
      background-position: right 28.4% bottom 35%;
    }
  }

  &__title {
    @include for-size(tablet-landscape-up) {
      font-size: 4rem;
    }
  }

  &__price {
    font-size: 1.9rem;
    font-weight: bold;

    @include for-size(tablet-landscape-up) {
      font-size: 1.6rem;
    }
  }

  &__features-list {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2rem 0 5rem 0;

    @include for-size(tablet-landscape-up) {
      font-size: 1.3rem;
      margin-bottom: 3rem;
    }
  }

  &__icon {
    margin-right: .8rem;
  }

  &__cta-button {
    font-size: 1.4rem;
    background-color: transparent;
    color: $cta-button-text-color;
    padding: 1.2rem 4rem;
    margin-bottom: 1.5rem;
    border: 3px solid $cta-button-text-color;
    border-radius: 35px;
    cursor: pointer;

    &:hover {
      background-color: $cta-button-text-color;
      color: $cta-button-text-color-onhover;
    }

    @include transition(all .2s ease-in-out);
  }
}
