@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.slider {
  &__slide {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0 6rem;

    @include for-size(tablet-landscape-up) {
      flex-direction: column;
    }
  }

  &__slide-item {
    max-width: 51rem;
    display: flex;
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }

    @include outer-block-parameters;

    @include for-size(tablet-landscape-up) {
      max-width: 100%;
      margin-right: 0;
      box-shadow: none;

      &:first-child {
        display: none;
      }
    }

    @include for-size(phone-only) {
      flex-direction: column;
      border: 1px solid #267ae9;
    }
  }

  &__slide-item-photo {
    background-color: $slider-photo-bg-color;
    padding: 10.5rem 3.5rem;

    @include for-size(phone-only) {
      padding: 4rem;
    }

    img {
      display: block;
      width: 12rem;
      height: 12rem;
      background-color: black;
      border-radius: 50%;

      @include for-size(phone-only) {
        margin: 0 auto;
      }
    }
  }

  &__slide-item-descr {
    background-color: $slider-slide-item-bg-color;
    color: $slider-text-color;
    padding: 5.6rem 4.1rem;
  }

  &__slide-item-text {
    margin-bottom: 3.6rem;
    line-height: 2;
  }

  &__slide-item-caption {
    color: $slider-caption-color;
  }

  &__bullets {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &__bullet[class*=active] {
    background-color: $slider-bullet-active-bg-color;
    border: 2px solid $slider-bullet-bg-color;
  }

  &__bullet {
    background-color: $slider-bullet-bg-color;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    line-height: 0;
    margin: 0 .7rem;
    outline: none;
    cursor: pointer;

    @include transition(all .3s ease-in-out)
  }
}
